DESERT_buildCopy_PC/

DESERT_Framework/.unpacked_folder/
DESERT_Framework/DESERT/aclocal.m4
DESERT_Framework/DESERT/ar-lib
DESERT_Framework/DESERT/autom4te.cache/
DESERT_Framework/DESERT/compile
DESERT_Framework/DESERT/config.guess
DESERT_Framework/DESERT/config.sub
DESERT_Framework/DESERT/configure
DESERT_Framework/DESERT/depcomp
DESERT_Framework/DESERT/install-sh
DESERT_Framework/DESERT/ltmain.sh
DESERT_Framework/DESERT/m4/libtool.m4
DESERT_Framework/DESERT/m4/ltoptions.m4
DESERT_Framework/DESERT/m4/ltsugar.m4
DESERT_Framework/DESERT/m4/ltversion.m4
DESERT_Framework/DESERT/m4/lt~obsolete.m4
DESERT_Framework/DESERT/missing
DESERT_Framework/DESERT/test-driver
DESERT_Framework/install.log
DESERT_Framework/DESERT/**/Makefile.in

DESERT_Addons/*/Makefile.in
DESERT_Addons/*/aclocal.m4
DESERT_Addons/*/ar-lib
DESERT_Addons/*/autom4te.cache/
DESERT_Addons/*/compile
DESERT_Addons/*/config.guess
DESERT_Addons/*/config.sub
DESERT_Addons/*/configure
DESERT_Addons/*/depcomp
DESERT_Addons/*/install-sh
DESERT_Addons/*/ltmain.sh
DESERT_Addons/*/m4/Makefile.in
DESERT_Addons/*/m4/libtool.m4
DESERT_Addons/*/m4/ltoptions.m4
DESERT_Addons/*/m4/ltsugar.m4
DESERT_Addons/*/m4/ltversion.m4
DESERT_Addons/*/m4/lt~obsolete.m4
DESERT_Addons/*/missing
